<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Enter Event</title>
  </head>


  <body class="bg-slate-900">
    <%- include("./partials/navbar") %>


    <div class="w-full mt-4">
      <div class="eventImg my-5">
        <!-- <img src="/assets/bg-2.jpg" class="w-[20rem] sm:w-11/12 mx-auto" alt=""> -->
        <!-- <div class="w-10/12 h-[20rem] bg-slate-700 rounded-md flex justify-center items-center text-white font-bold text-2xl mx-auto">Event Image</div> -->
        <video autoplay controls class="w-10/12 h-[25rem] mx-auto">
          <source src="https://static.videezy.com/system/resources/previews/000/050/812/original/alb_scrntext1003_1080p_24fps.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
      </div>
        <div class="flex flex-col w-10/12 mx-auto">
          <p class="text-white">Event starts . <%= eventDetails.startdate %></p>
          <p class="text-white">Event ends . <%= eventDetails.enddate %></p>
        </div>
        <p class="text-white text-center my-4">Choose Ticket Number</p>
        
        <div class="bg-slate-900 p-4 rounded-lg shadow-lg">
            <div class="flex flex-wrap w-[22rem] mx-auto justify-center text-white items-center">
              
                <% array1.forEach((num) => { %>
                 
                  <% if (tickets.find(obj => obj.value === num)) { %>
                    <span class="py-1 flex justify-center items-center w-12 ml-2 h-12 mt-2 rounded-lg p-4 text-center bg-blue-500"><%= num %></span>
                  <% } else { %>
                    <a href="/addToCart/<%= eventDetails._id %>/<%= num %>" class="py-1 flex justify-center items-center w-12 ml-2 h-12 mt-2 rounded-lg p-4 text-center  <%= tickets.find(obj => obj.value === num) ? 'bg-blue-500 text-white' : 'bg-slate-800' %>">
                    <%= num %>
                  </a>
                  <% } %>
                <% }) %>
              
            </div>
          </div>
          
    </div>





    <%- include("./partials/footer") %>
    
