<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Profile</title>
</head>


<body class="bg-slate-900">
  <%- include("./partials/adminNav") %>


    <div class="w-full flex flex-row justify-center sm:justify-between ">
      <div id="sidebar"
        class=" hidden w-7/12 sm:flex  justify-center sm:w-3/12 bg-slate-800 h-[85vh] absolute sm:static left-0"
        style="z-index: 99;">
        <div id="navMenu" class="flex flex-col  justify-between items-center h-[70vh] my-10 gap-2 ">
         <div class="top flex flex-col">
          <a href="#" class="  text-yellow-200 hover:text-white  my-10 text-center py-1 px-2 rounded-md text-2xl">Dashboard</a>
          <div class="flex flex-col">
            <p class="text-sm text-gray-300">
              Name . <span class="text-yellow-200"> <%= user.name %></span>
            </p>
            <p class="text-sm text-gray-300">
              Email . <span class="text-sm text-yellow-200"> <%= user.email %></span>
            </p>
          </div>

         </div>

          <div class="flex mt-12">
            <a href="/logout" class="text-white rounded-md bg-red-600 py-1 px-3 ">Logout</a>
          </div>
        </div>
      </div>
      <div class="w-10/12 bg-slate-900 mb-4">


        <div class="w-10/12 mx-auto " style="z-index: 8;">
          <div class="flex flex-col sm:flex-row my-4  sm:my-12 gap-3 justify-center items-center">
            <div class=" bg-slate-900 rounded-md border-2 h-28 border-gray-600 ">
              <span class="text-gray-300 m-3 text-sm">Events</span>
              <a href="/currentEvents"
                class=" mt-5 flex justify-center items-center text-white w-[15rem] sm:w-[12rem] font-bold text-lg">
                <%= events.length %>
              </a>
            </div>
            <div class=" bg-slate-900 rounded-md border-2 h-28 border-gray-600 ">
              <span class="text-gray-300 m-3 text-sm">Tickets</span>
              <a href="/currentEvents"
                class=" mt-5 flex justify-center items-center text-white w-[15rem] sm:w-[12rem] font-bold text-lg">
                <%= tickets.length %>
              </a>
            </div>
           
          </div>
        </div>

        <div class="w-6/12 mx-auto border rounded-md border-gray-500 p-4 mt-5 ">
          <table class="min-w-[20rem]   text-white mx-auto">
            <thead>
              <th>
                TicketId
              </th>
              <!-- <th>
                UserId
              </th>
              <th>
                EventId
              </th> -->
              <th>
                Value
              </th>
            </thead>
            <tbody>
              <% if(tickets.length > 0){tickets.forEach(ticket => {%>
                <tr class="border-b-2 border-gray-600">
                  <td class="text-center"><%= ticket._id %></td>
                  <!-- <td class="text-center"><%= ticket.userId %></td>
                  <td class="text-center"><%= ticket.eventId %></td> -->
                  <td class="text-center"><%= ticket.value %></td>
                </tr>
                <%})} %>
             
            </tbody>
          </table>
        </div>
        
      </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%- include("./partials/footer") %>
    <script>
      $(document).ready(function () {
        // Code to be executed when the DOM is ready
        $('#adminMenu').click(function () {
          $("#sidebar").toggle()
        });
        $('#closeSidebarBtn').click(function () {
          console.log('first')
          $("#sidebar").hide()
        });
      });
    </script>